@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800');

h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Open Sans';
}
h1{ font-size: 50px; }
h2{ font-size: 40px; }
h3{ font-size: 27px; }
h4{ font-size: 23px; }
h5{ font-size: 18px; }
h6{ font-size: 14px; }
p,a{ font-size: 14px; }


block {
	display: block;
}
html {
	scroll-behavior: smooth;
}



max {
	max-width: 1200px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	height: auto;
	margin: 0 auto;
}


@media (max-width: (50 + $lg) ) {

	max {
		max-width: 900px;
	}

}
@media (max-width: (50 + $md2) ) {

	max {
		max-width: $md1;
	}

}


@media (max-width: (50 + $md1)) {

	max {
		max-width: ($md1 - 100);
	}



}

@media (max-width: 750px) {

	max {
		max-width: 85%;
	}



}

@media (max-width: (50 + $sm)) {

	max {
		max-width: 90%;
	}

}