@import './variables.scss';


$list-icon-margin: 8px;
$list-icon-hover-padding: 3px;

$min-width: 170px;
$max-width: ($min-width + 10);
$card-padding-x: 40px;
$card-padding-y: 40px;

.card{
	min-width: 170px;
	max-width: 270px;
	display: flex;
	flex-flow: column;
	padding: $card-padding-x;
	margin: $card-margin;

	background-color: white;
	border: 1px solid #eaeaea;
	border-radius: 2px 2px 10px 2px;

	text-decoration: none;

	transition: ease-out .1s;

	color: $grey;
}
.card:hover > .cardText h3{
	width: 10px;
	border-bottom: 2px solid $primary;
	color: $primary;
}
.card:hover{
	background-color: white;
}
.cardIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 40px;

	transition: ease-out .1s;
}
.cardIcon img{
	object-fit: contain;
	width: 100%;
	max-height: 100px;
}
.cardText{
	padding-bottom: 5px;
}
.cardText h3,a{
	margin: 0;
	padding: 0;
	color: black;
}
.cardText h3{
	color: $dark-blue;
	font-weight: 100;
	padding-bottom: 4px;
	border-bottom: 2px solid $light-grey;

	width: 100%;
	min-width: fit-content;
	transition: all ease-out .2s;
}
.cardText ul{
	padding-left: 0;
}
.cardText li{

	padding-top: 15px;
	list-style-type: none;
	display: flex;
	align-items: center;

	transition: all ease-out .1s;	
}
/* list item icon */
.cardText li::before{
	content: '';
	width: 10px;
	height: 10px;
	margin-right: $list-icon-margin;
	display: inline-block;
	background-image: url(./assets/icons/r_arrow.png);
	background-size: cover;
	background-position: center;

	transition: all ease-out .1s;
}

.cardText li:hover{
	padding-left: $list-icon-hover-padding;
}
.cardText li:hover:before{
	margin-right: ($list-icon-margin - $list-icon-hover-padding);
}
.cardText li:hover a{
	color: black;
}
.cardText a{
	font-weight: 400;
	line-height: 22px;
	text-decoration: none;
}
.cardText a:visited{
	color: $grey;
}

@media (max-width: (50 + $md1)) {

	$min-width: 150px;
	$max-width: ($min-width + 10);
	
	.card{
		min-width: $min-width;
		max-width: $max-width;
		margin: 4px 2px;
	}
	.cardIcon img{
		width: 85%;
	}

}

// break from two column tow one column
@media (max-width: 578px) {

	$min-width: 200px;
	$max-width: ($min-width + 10);

	.card{
		margin: $card-margin 0;

		min-width: $min-width;
		max-width: $max-width;
	}


}

@media (max-width: (50 + $sm)) {


	$max-width: 50%;

	.card{
		margin: $card-margin 0;
		max-width: $max-width;
	}
	.cardIcon img{
		width: 65%;
	}

}

@media (max-width: (50 + $xs)) {


	$max-width: 70%;
	$card-padding-x: 40px;

	.card{
		margin: $card-margin 0;
		max-width: 10px;
		padding: $card-padding-y $card-padding-x;
	}
	.cardIcon{
		padding-bottom: 20px;
	}
	.cardIcon img{
		width: 55%;
	}

}