@import './variables.scss';

$card-width: 250px;
$card-padding-x: 50px;
$card-padding-y: 70px;

.container{
	background-color: $dark-blue;
	width: 100%;
	padding: 50px 0;
	padding-bottom: 100px;

	display: flex;
	flex-flow: column wrap;
}
.row{
	display: flex;
	flex-flow: row;
}
.title{
	margin-bottom: 80px;
	color: $white;
	width: 700px;
}
.title h1{
	font-weight: 100;
	margin-bottom: 10px;
}
.title p{
	font-size: 18px;
	font-weight: 100;
	margin: 0;
}

.card{
	width: $card-width;

	padding: $card-padding-y $card-padding-x;

	margin-right: 100px; 

	background-color: white;
	border: 1px solid #eaeaea;
	border-radius: 3px 3px 10px 3px;
	box-shadow: 0px 0px 5px rgba($dark, .7);

}
/*
.card::before{

	content: '';
	display: block;
	height: 210px;
	width: 8px;
	background-color: darken($primary, 15%);
	position: absolute;
	margin-left: -61px;

}
*/	
.card h6{
	font-weight: 300;
	margin: 0;
	padding:0;
}

.card h3{
	font-weight: 100;
	margin: 0;
	color: $dark-blue;

	padding-top: 5px;
	padding-bottom: 15px;
	border-bottom: 2px solid $light-grey;
}

.cardInfo{
	padding: 15px 0;
}
.cardDescription{

}
.cardItem{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 12px 0;
}
.cardItem p{
	color: $dark;
	margin: 0;
}
.cardItem a{
	color: $dark;
	text-decoration: none;
	font-weight: 400;
	word-break: break-word;
}
.cardItem a[href*="mailto"]:hover{
	color: $primary;
}

.cardIcon{
	width: 20px;
	height: 20px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat; 

	min-width: 20px;

	margin-right: 20px;

	background-image: url(./assets/icons/phone.png);
}
.cardButton {
	transition: all .1s ease-out;

	display: flex;

}
.cardButton span{
	transition: all .1s ease-out;
}
.cardButton:hover{
	padding-left: 10px;
}
.cardButton:hover span{
	margin-left: -10px;
}

#phone{
	background-image: url(./assets/icons/phone.png);
}
#mail{
	background-image: url(./assets/icons/mail.png);
}
#arrow{
	background-image: url(./assets/icons/r_arrow.png);	
}


@media (max-width: (50 + 1000px)) {

	.card{
		margin-right: 0;
	}
	.row{
		justify-content: space-between;
	}

}

@media (max-width: (50 + $md1)) {

	.container > max {
		display: flex;
		justify-content: center;
	}
	.row{
		flex-flow: column;
		align-items: center;
	}
	.card{
		margin-right: 0;
		margin-bottom: 50px;
	}
	.title{
		width: ($card-width + 2*$card-padding-x); //card width with its padding
		text-align: left;
	}
	.title h1{
		font-size: 42px;
	}

}

@media (max-width: (50 + $sm)) {

	$card-width: 200px;
	$card-padding-x: 50px;
	$card-padding-y: 50px;

	.container{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	
	.title{
		width: ($card-width + 2*$card-padding-x); //card width with its padding. needs update after var change

	}

	.title h1{
		font-size: 40px;
	}
	.title p{
		font-size: 3vw;
	}

	.card{
		width: $card-width;
		padding: $card-padding-y $card-padding-x;
	}
	.cardItem{
		display: flex;
		align-items: flex-start;
	}

}

//special for text
@media (max-width: ($sm - 60)) {
	.title{
		width: 75%;
	}
	.title h1{
		font-size: 10.7vw;
	}
	.title p{
		font-size: 3.7vw;
	}
}

@media (max-width: (50 + $xs)) {
	.card{
		width: 50%;
	}
}