@import './variables.scss';

$footer-color: rgb(0, 64, 91);

footer{
	background-color: darken($dark-blue, 7%);
	min-height: 25vh;
	width: 100%;

	padding-top: 40px; 
	padding-bottom: 40px;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;

	color: $footer-color;
}

.logoContainer{
	display: flex;
	width: 100%;
	padding-top: 80px;
	align-items: flex-end;
}
.logo{
	background-image: url(./assets/logo_small.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 150px;
	height: 90px;
	filter: brightness(80%);
	mix-blend-mode: soft-light;
	margin-right: 20px;
}
.slogan{
	background-image: url(./assets/nutidens.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 240px;
	height: 16px;
	margin-bottom: 10px;
	filter: brightness(80%);
	mix-blend-mode: soft-light;
}


@media (max-width: (50 + $sm)) {

	.logoContainer{
		width: 80%;
	}
}