@import './variables.scss';

$logo-scale: 0.5;
$logo-width: ($logo-scale * 521px);
$logo-height: ($logo-width * .7082);


@keyframes flipIt {
  0% {
    transform: translateX(250px) rotateY(-61deg);
    opacity: 0.1
  }
  50% {
  	transform: rotateY(0deg);

	}
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

header{

	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: -5;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

/**
* Jesus christ. Be careful changing the min/max-width/height here. Suprisingly hard to get right.
* its some magic combination of %, vw & vh and object-fit. This works, change on your own risk haha
*
*/

.videoContainer{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;

	width: 100%;

	min-height: 100%;

	max-height: 100vh;

	object-fit: cover;

	overflow: hidden;

	z-index: -2;
}

video{
	padding: 0;
	margin: 0;

	width: 100%;
	height: 100%;

	min-height: 100vh;
	
	//max-height: 100vh;

	object-fit: cover;
}

.headerText {

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 670px;

	animation: flipIt 2.5s cubic-bezier(.29,.82,.17,1.02) 0s 1;

	color: $white;
}

.headerText h1{
	font-size: 65px;
	font-weight: 100;
	margin: 0;
	margin-bottom: 20px;
	font-family: "Open Sans";
	text-shadow: 2px 2px 4px black;
}
.headerText h4{
	font-size: 22px;
	font-weight: 100;
	word-spacing: 3px;
	line-height: 33px;
	margin: 0;
	max-width: 670px;
	text-align: center;
	font-family: "Open Sans";
	color: $white;
}


@media (max-width: (50 + $md1)) {

	.headerText {
		width: 450px;
	}
	.headerText h1{
		font-size: 45px;
		margin-bottom: 5px;
	}

}

@media (max-width: (50 + $sm)) {

	.headerText{
		width: 80%;
	}
	.headerText h1{
		font-size: 8vw;
		margin-bottom: 20px;
	}
	.headerText h1::after{
		//content: '';
		display: block;
		width: 98%;
		margin: 15px auto;
		height: 1px;
		background-color: white;
	}
	.headerText h4{
		font-size: 3.5vw;
		line-height: normal;
		text-align: left;
	}
}

@media (max-width: (50 + $sm)) {


	.headerText h4{
		font-size: 4vw;
	}


}