$padding-x: 60px;
$padding-y: 40px;

.nav{
	width: calc(100% - 2*#{$padding-x});
	padding: $padding-y $padding-x;
	background: linear-gradient(.5turn, rgba(black, 0.3), transparent);

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;

	position: absolute;
	top: 0;

	z-index: 20;
}
.logo{
	margin-right: auto;
	height: 60px;
	width: 100px;
	display: block;
	background-image: url(./assets/logo_alt.png);
	background-position: center;
	background-size: cover;

	transition: all ease-in 0.1s;
}
.logo:hover{

	width: 103px;
}