@import './variables.scss';

$padding-x: 60px;
$padding-y: 40px;

.nav{
	width: calc(100% - 2*#{$padding-x});
	padding: $padding-y $padding-x;
	background: linear-gradient(.5turn, rgba(black, 0.3), transparent);

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;

	position: absolute;
	top: 0;

	z-index: 20;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    // IE9+ CSS
    .nav { 
		justify-content: flex-start;
		align-items: flex-end;
	
		position: absolute;
		top: 0;
	
		z-index: 20;
	}
}
.logo{
	margin-right: auto;
	height: 60px;
	width: 100px;
	display: block;
	background-image: url(./assets/logo_alt.png);
	background-position: center;
	background-size: cover;

	transition: all ease-in 0.1s;
}
.logo:hover{

	width: 103px;
}

@media (max-width: (50 + $md1)) {

	$padding-x: 20px;
	$padding-t: 20px;

	.nav{
		width: calc(100% - 2*#{$padding-x});
		padding: $padding-y $padding-x;
	}
	.logo{
		margin-left: 40px;
	}

}

@media (max-width: (50 + $sm)) {

	.logo{
		height: 40px;
		width: 80px;
		margin-left: 10px;
	}
	.logo:hover{
		width: 83px;
	}

}

@media (max-width: (50 + $xs)) {

	.logo{
		margin-left: 7px;
	}

}