@import './variables.scss';

$header-height: 100vh;
$header-padding-bottom: 15vh;

// CANT be larger than 50 or below calc needs to be changed
// needs to add unit when used
$header-blur-width: 45; 
$header-normal-width: (100 - $header-blur-width);

$border-radius: 2px;
$title-padding-y: 30px;
$title-padding-x: 50px;

$info-padding: 140px;

.header{
	height: $header-height;

	display: flex;
	align-items: flex-end;
	float: center;
	z-index: 5;
}
.headerBg{
	position: absolute;
	min-width: 100%;
	height: $header-height;
	background-color: #eaeaea;
	background-size: cover;
	float: top;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	filter: brightness(90%);

	transition: all ease-in 0.1s;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    // IE9+ CSS
    .headerBg{
		margin-top: -100vh;

	}
}
/*.header::before{
	content: '';
	position: absolute;
	width: calc(#{$header-blur-width}% + 10px);
	height: calc(#{$header-height} + 10px);

	margin-left: -5px;
	margin-top: -5px;

	background-image: url(./assets/nt_bg.jpg);
	background-size: 100vw auto;

	background-position: 0 20%; 

	filter: blur(4px);

	z-index: 3;
}
.headerHalfPicLayer{
	content: '';
	position: absolute;
	width: $header-normal-width;
	height: $header-height;

	margin-left: $header-blur-width;
	margin-top: 0;

	background-image: url(./assets/nt_bg.jpg);
	background-size: 100vw auto;

	background-position: ($header-blur-width + 0vw) 20%; // hack to convert to vw

	z-index: 3;
}*/
.header max{
	z-index: 20;
}
.headerContent{
	height: $header-height;
	width: 100%;
	position: absolute;

	display: flex;
	align-items: center;


	z-index: 5;
}
.logo{
	max-width: 500px;
	height: auto;
	margin-left: -35px;
	object-fit: contain;
}
.headerTitle{
	display: flex;
	margin-bottom: $header-padding-bottom;
	width: fit-content;
}
.headerTitle h1{
	margin: 0;
	max-width: 450px;
	font-weight: 100;
	font-size: 50px;
	padding: $title-padding-y;
	padding-left: $title-padding-x;

	border-radius: $border-radius 0 0px $border-radius; // bottom and top left
	
	background-color: rgba($dark-blue, 0.9);
	color: white;
}
.headerTitleContact{
	max-width: 400px;
	padding: $title-padding-y;
	padding-right: $title-padding-x;

	background-color: rgba(white, 1);
	display: flex;
	align-items: center;

	color: $grey;
}
.headerTitleContact ul{
	padding: 0;
	margin: 0;
}
.headerTitleContact li{
	list-style-type: none;
	word-break: break-word;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 0;

	display: flex;
	align-items: center;
}
.headerTitleContact li b,.headerTitleContact li a{
	margin-right: 5px;
	font-weight: 400;
	text-decoration: none;
	color: $dark;
}
.headerTitleContact li a:hover{
	color: $primary;
}
.headerTitle > a{
	background-color: rgba($dark-blue, 0.9);
	padding-right: 15px;
	border-radius: 0px $border-radius $border-radius 0px; // bottom and top left
}
.blurHider{
	width: 100%;
	height: $info-padding;
	background-color: $primary;
	z-index: 40;
	position: absolute;
}
.cardsContainer{
	padding-top: $info-padding;
	padding-bottom: $info-padding;

	background: linear-gradient(.35turn, $primary, darken($primary, 10%));
	width: 100%;
	z-index: -5;

	display: flex;
	flex-flow: column wrap;
}

@media (max-width: (50 + $lg)) {

	.header > max{
		display: flex;
		justify-content: center;
	}

	.headerTitle h1{
		max-width: 350px;
		font-size: 40px;
	}

}

@media (max-width: (50 + $md2)) {

	.headerTitle{
		width: 100%;
	}
	.headerTitle h1{
		max-width: fit-content;
	}
	.headerTitleContact{
		max-width: fit-content;
	}
	.headerTitleContact li{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	.headerTitleContact li, .headerTitleContact li a, .headerTitleContact li b {
		word-break: keep-all;
		hyphens: none;
	} 

}

@media (max-width: (50 + $md1)) {

	$title-padding-x: 40px;
	$title-padding-y: 30px;
	$button-width: 50px;
	$title-h1-width: 320px;

	.headerTitle{
		flex-flow: row wrap;
		margin-bottom: 70px;
	}
	.headerTitle h1{
		order: 1;
		width: $title-h1-width;
		padding: $title-padding-y $title-padding-x;
		border-radius: $border-radius 0 $border-radius 0px;
	}
	.headerTitleContact{
		order: 4;
		max-width: none;
		width: ($title-h1-width + $button-width);
		padding: $title-padding-y $title-padding-x;
		border-radius: 0 0 $border-radius $border-radius;
	}
	.headerTitle > a{
		order: 2;
		display: flex;
		justify-content: center;
		width: 50px;
		padding-top: 10px;
		padding-right: 0;
		border-radius: 0 $border-radius 0 0
	}
	.headerTitle > a > svg{
		margin: 0;
	}
	//force line break
	.headerTitle::before{
		content: '';
		display: block;
		width: 600px;
		height: 0px;
		order: 3;
	}
	.headerTitleContact li{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	.headerTitleContact li, .headerTitleContact li a, .headerTitleContact li b {
		word-break: keep-all;
		hyphens: none;
	}

	.cardsContainer{
		padding: 50px 0;
	}

}

//special
@media (max-width: (700px)) {

	$title-h1-width: 100%;
	$button-width: 50px;
	$title-padding-x: 40px;
	$title-padding-y: 30px;

	.headerTitle{
		justify-content: center;
	}
	.headerTitle h1{
		width: calc(#{$title-h1-width} - 2*#{$title-padding-x} - #{$button-width} );
		max-width: none;
	}
	.headerTitleContact{
		width: calc(#{$title-h1-width} - 2*#{$title-padding-x});	
	}

}

@media (max-width: ($sm + 50)) {

	$title-h1-width: 100%;
	$button-width: 50px;
	$title-padding-x: 20px;
	$title-padding-y: 30px;

	.headerTitle{
		justify-content: center;
	}
	.headerTitle h1{
		padding: $title-padding-y $title-padding-x;
		width: calc(#{$title-h1-width} - 2*#{$title-padding-x} - #{$button-width} );
		font-size: 30px;
	}
	.headerTitleContact{
		padding: $title-padding-y $title-padding-x;
		width: calc(#{$title-h1-width} - 2*#{$title-padding-x});	
	}

}

@media (max-width: (50 + $xs)) {

	.headerTitle h1{
		font-size: 25px;
	}
	.headerTitleContact li{
		font-size: 14px;
	}

}