@import './variables.scss';

$icon-padding: 20px;
$titlepadding: 90px;
$card-height: 140px;

$card-width-reduction: 20px; //used for responsiveness flexibility

.card{
	background-color: $white;
	display: flex;
	align-items: center;

	padding: 10px;
	padding-top: 20px;
	min-width: ($partner-card-width + 20);
	max-width: ($partner-card-width + 20);
	height: $card-height;

	margin: 15px;

	border: 1px solid #eaeaea;

	text-decoration: none;
	color: $grey;
}

.card:hover{
	text-decoration: none;
	size:150%;
}
.cardIcon{
	max-width: calc(#{$card-height} - #{$card-width-reduction} - #{$icon-padding});
	padding: $icon-padding;
	object-fit: contain;
}
.title{
	display: flex-end;
	flex-flow: column;
	justify-content: center;
	text-decoration: none;
}
.title h3{
	font-weight: 100;
	margin: 0;
	padding: 0;
	word-break: word-break;
	text-decoration: none;
}

@media (max-width: (50 + $md1)) {

	$partner-card-width: 280px;

	$icon-padding: 20px;
	$titlepadding: 90px;
	$card-height: 100px;

	$card-width-reduction: 0px;

	.card{
		margin: 10px;
		min-width: $partner-card-width;
		max-width: $partner-card-width;
		height: $card-height;
		text-decoration: none;
	}

	.title h3{
		font-size: 20px;
		text-decoration: none;
	}
	.cardIcon{
		width: calc(#{$card-height} - #{$card-width-reduction} - #{$icon-padding});
		padding: $icon-padding;
	}
}

@media (max-width: (50 + $sm)) {

	$partner-card-width: 85%;

	$icon-padding: 20px;
	$titlepadding: 90px;
	$card-height: 100px;

	$card-width-reduction: 0px;

	.card{
		min-width: $partner-card-width;
		max-width: $partner-card-width;
	}
	.cardIcon{
		width: calc(#{$card-height} - #{$card-width-reduction} - #{$icon-padding});
		padding: $icon-padding;
	}
}

@media (max-width: (50 + $xs)) {

	.title h3{
		font-size: 18px;
		word-break: break-word;
	}
}