@import './variables.scss';

$splash-height: 80vh;
$splash-description-height: (100 - $splash-height);

$small-splash-height: 60vh;
$small-description-height: (100 - $splash-height); // same as for the big one

$tiny-splash-height: 40vh;
$tiny-description-height: (100 - $splash-height); // same as for the big one

$title-padding: 25px;
$title-line-margin: 15px;
$title-line-width: 3.5px;


#bg_interview .splash:after{
	background-image: url(./assets/interview.jpg);
}
// Specific class for journalistic
#bg_journalistik .splash:after{
	background-image: url(./assets/7798768_.jpg);
}
#nt .splash:after{
	background-image: none;
	background-color: $primary;
}

.container{
	background-color: darken(white, 2%);
	min-height: 100vh; 
	z-index: -20;
}
//content layer
.splash{
	width: 100%;
	height: $splash-height;
	background-color: transparent;
}
//color layer
.splash::before{
	content: '';
	width: 100%;
	height: $splash-height;
	//background: linear-gradient(0.3turn, rgba($primary, 0.4), rgba($primary, 0.5));
	//background-color: darken($primary,10%);
	background: radial-gradient(ellipse at top, darken($primary,10%), rgba(1, 74, 163, 0.7) 40%, transparent 100%);
	opacity: 1;
	position: absolute;
	z-index: 2;
	mix-blend-mode: color;
}
//picture layer
.splash::after{
	content: '';
	width: 100%;
	height: $splash-height;
	background-image: url(./assets/norrpan.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;

	filter: brightness(70%) grayscale(60%);
}
.splash max{
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.title{
	margin: 0;
	color: $white;
	margin-bottom: 40px;
	padding: $title-padding;
	margin-left: -($title-line-margin + $title-padding + $title-line-width + 1);
	border-radius: 1px;

	display: flex;
	align-items: center;

	z-index: 20;

	//background-color: rgba(white,.9);
	text-shadow: 0px 0px 15px rgba($dark, 0.7);
	font-weight: 100;
}
.title::before{
	content: '';
	display: inline-block;
	width: $title-line-width;
	height: 36px;
	margin-right: $title-line-margin;
	background-color: $primary;
}
.scroll{
	z-index: 20;
	margin-left: 20px;
	margin-top: 12px;

	width: 35px;
	height: 35px;

	transition: all ease-out 0.1s;
}
.scroll:hover{
	padding-top:10px;
}
.description{
	height: $splash-description-height;
	background-color: $primary;

}
.description max{
	height: 100%;

	display: flex;
	align-items: center;
}
.descriptionText, .descriptionText a{
	font-weight: 300;
	color: $white;
	width: 700px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	word-spacing: 2px;
	font-size: 18px;
	text-decoration: none;
}

// Specific class for journalistik
#bg_journalistik .descriptionText{
	font-size: 30px;
}

.descriptionText a[href*="mailto"]:hover{
	color: lighten($primary, 10%);
}
.descriptionAlt{
	height: $splash-description-height;
	//hack to make rightside of container yellow and leftside dark
	background: linear-gradient(to right, $dark-blue, $dark-blue 49%, $primary 51%, $primary 100%);
	/*
	background-image: url(./assets/fotboll.jpg);
	background-size: cover;
	background-position: 50% 15%;
	*/
	color: $white;
}
.descriptionAlt h3{
	font-weight: 100;
	padding-bottom: 0;
	margin-bottom: 0; 
}
.descriptionAlt max{
	height: 100%;
	display: flex;
}
.descriptionLeft{
	padding-right: 12px;
}
.descriptionRight{
	padding-left: 12px;
	background-color: $primary;
}
.cardContainer{
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 170px;
	align-items: space-between;
	padding: $card-container-padding 0px;

	margin-left: -$card-margin;
	margin-top: -$card-margin; 
}

.articleContainer{
	display: block;
	width: 100%;
	margin-top:3%;
	margin-bottom: 5%;
	font-family: "Open Sans";
}

.articleLink{
	text-decoration: none;
	font-style: italic;
	font-size: 20px;
	color: $light-grey;
}
.articleParagraph{
	font-size: 20px;
	color: $grey;
}
.articleListItem{
	margin-top: 2%;
	font-size: 18px;
	font-family: "Open Sans";
	list-style: none;
	color: $grey;
}

.articleList{
	margin-top:3%;
	margin-bottom: 3%;
}
.articleSubTitle{
	margin-top: 5%;
	font-size: 23px;
	margin-bottom: 2%;
	margin-left: 0;
	color: $dark-blue;
}
.articleTitle{
	font-size: 28px;
	color: $primary;
	text-align: center;
}


/* small version overwrites */
.small .splash{
	height: $small-splash-height !important;
}
.small .description,.small .descriptionAlt{
	height: $small-description-height !important;
}
.small .splash::before{
	height: $small-splash-height !important;
}
.small .splash::after{
	height: $small-splash-height !important;
}

/* tiny version overwrites */
.tiny .splash{
	height: $tiny-splash-height !important;
	background-color: $primary;
}
.tiny .description,.tiny .descriptionAlt{
	height: $tiny-description-height !important;
}
.tiny .splash::before{
	height: $tiny-splash-height !important;
	background: $primary;
}
.tiny .splash::after{
	height: $tiny-splash-height !important;
	background: $primary;
}
.tiny .splash:after{
	mix-blend-mode: normal;
	filter: brightness(100%) grayscale(100%);
}
.tiny .splash:before{
	background: $primary;
	mix-blend-mode: normal;
}
.tiny .title{
	text-shadow: none;
}
.tiny .title:before{
	background-color: white;
}

	
@media (max-width: (50 + $md2)) {

	.title{
		font-size: 30px;
		margin-left: 0;
		padding-left: 0;
	}
	.title::before{
		display: none;
	}

	.descriptionText, .descriptionText a{
		font-size: 16px;
		line-height: normal;
		width: 100%;
	}

	.cardContainer{
		justify-content: space-around;
	}

}

@media (max-width: (50 + $md1)) {

	.title{
		margin-left: 15px;
	}

	.description > max{
		display: flex;
		justify-content: center;
	}
	.descriptionText, .descriptionText a{
		font-size: 14px;
		width: 90%;
	}

	.cardContainer{
		flex: 1 1 140px;
		margin-left: 0;
		margin-top: 0;
	}

}

@media (max-width: (50 + $sm)) {

	//copy pasted tiny settings. almost, some changes heh

	.small .splash, .splash{
		height: $tiny-splash-height !important;
		background-color: $primary;
	}
	 .description, .descriptionAlt, .small .description,.small .descriptionAlt{
	 	height: auto !important;
		background-color: $primary;
		padding: 20px 0;
	}
	 .splash::before, .small .splash::before{
		height: $tiny-splash-height !important;
	}
	 .splash::after, .small .splash::after{
		height: $tiny-splash-height !important;
		mix-blend-mode: normal;
		filter: brightness(100%) grayscale(100%);
	}
	 .splash:before{
		background: $primary;
		mix-blend-mode: normal;
	}
	 .title{
		text-shadow: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	 .title:before{
		background-color: white;
	}

	.cardContainer{
		width: 80%;
		justify-content: center;
		margin: 0;
		padding-top: 10%;
	}
	.container > max {
		display: flex;
		justify-content: center;
	}
}